* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --blue-theme-color: #213392;
  --blue-theme-bg: #213392;
  --pink-theme-color: #c0c;
  --pink-theme-bg: #560444;
  --primary-color: #1A516C;
  --primary-bg: #CEC9CD;
  --white: #fff;
  --bottom-nav-height:5em;
}

body {
  min-height: 100vh;
  font-family: Verdana,Geneva, sans-serif ;
  min-width: 200px;
}
.material-icons{
   overflow: hidden;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.form-group{
  display: flex;
  justify-content: space-between;
  
  
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
padding: 0.5rem;
padding-top: 1rem;
}

.all-notes-container{
   padding-bottom: var(--bottom-nav-height);
   overflow-y: auto;
   height: 100%;
}
.notes-container {
  display: flex;
  gap: 0.5rem;
  overflow-y: auto;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.note {
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 100px;
  max-width: 250px;
  max-height: 330px;
  border-radius: 0.375rem;
  border: 1px solid #000;
  background: #fff;
  transition: 0.4s ease-in-out;
  animation: slideUp 0.5s ease-in-out;
  animation-delay: calc(var(--delay) * 0.1s);
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  flex-grow: 0;
}
.selected{
  border:3px solid rgb(194, 74, 74);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@keyframes slideUp{
   from{
      transform: translateY(15px)
   }
   to{
         transform: translateY(0)
   
   }
}
.active{
  border-right-color: #c0c;
}
.note__title{
  word-wrap: break-word;
}
.note__body {
  max-height: 250px;
  overflow: hidden;
  padding: 0.625rem 0;
  margin-bottom: 0.5rem;
  position: relative;
}

.note__category-pubdate{
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
}
.note__pubdate{
  font-size: 90%;
  
}

/* search box styes */

.search-box-wrapper{
  width: 100%;
  margin:0 auto 1rem;
  border-radius: 3rem;
  display: flex;
  background: #f3f1f1;
  z-index: 1;
}
.search-box{
  flex:1;
  border: none;
  padding: 1rem;
  border-radius:inherit;
  outline:none;
  background: transparent;
  font-size: 1rem;
  border: 2px solid transparent;
}
.search-box:focus{
  border-color: var(--primary-color);
}
.new-container{
transform: scaleX(0) ;
z-index: 5;
transition: 1s;  
height: 100vh;
position: fixed;
bottom: 0;
right: 0;
width: 100%;
background: #fff;
padding: 0.5rem;
transform-origin: bottom right;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.new-container.view{
transform: scaleX(1);
   transition: 1s;
   height: 100vh;
   width: 100%;
  

}
.new-note-container{
  /* max-width: 600px; */
  margin: auto ;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.375rem;
  
}
.new-note-title{
  padding: 0.625rem;  
  font-size: 1.3rem;
  outline: none;
  border-radius:0.5rem 0.5rem 0 0;
   border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    /* display: none; */
    background: transparent;
} 
      
.new-note-body{         
  width: 100%   ;
  outline: none;
  margin:0 auto 2rem ;
  border-radius: 0.1  5rem; 
  /* border: 2px solid #ccc; */
  border:none;
  padding: 1rem;
  font-family: inherit  ;
  font-size: 1rem;
    border-radius:0 0 0.5rem 0.5rem;
resize: none;
flex: 1;
    background: transparent;

/* display: none; */
}
.new-note-body:focus,.new-note-title:focus{
  border-color: var (--pink-theme-color);
}

.bottom-nav{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
display: flex;
min-height: var(--bottom-nav-height);
justify-content: flex-end;
}
.create-note-btn{
   padding: 0.625rem 1.5rem;
   border-radius: 3rem;
   background: #fff;
   color: var(--primary-color);
   font-weight: 500;
   font-size: 1.3rem;
   text-transform: capitalize;
   display: flex;
   align-items: center;
   gap: 1rem;
  position:relative;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 14px #0003;
}
.create-note-btn:hover{
  background: #d9dee2;
}
.btn-icon{
   width: 3rem;
   height: 3rem;
   position: relative;
     box-shadow: 0 8px 16px #0003,0 0 0 8px #f3f3f3;
     background: inherit;
border-radius: 50%;
}
.btn-icon:before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 0.375em;
  height: 70%;
  background: linear-gradient(15deg,#0FB89A,#B44A0E);
}
.btn-icon:after{  
   content: "";
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  height: 0.375em;
  width: 70%;
  background: linear-gradient(15deg,#5D06A2,#0FB89A);
}

.back-home-btn{
   background: none;
   outline: none;
   border: none;
   cursor: pointer;
   margin-bottom: 0.375rem;
   padding: 1rem;
   min-height: 1rem;
   border-radius: 50%;
}
.back-home-btn:hover{
  background: #f3f1f1;
}
.no-notes-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   font-weight: 500;
   height: 100%;
   overflow: hidden;
   
}
.no-notes-container .icon{
   font-size: 64px;
   margin-bottom: 1rem;
}

.delete-btn-wrapper{
  width: 100%;
  padding: 0.5rem;
padding-right: 2rem;
text-align: right;
/* transform: translateY(-150px); */
transform: scale(0);
background:#fff;
transition: 0.4s;
position: absolute;
left: 0;
top: 0;
z-index: 2;
}
.delete-btn-wrapper.show{
  transform: scale(1);
  transition: 0.4s ease-in;
 
}
.delete-btn{
  font-size: 36px;
  background: transparent;
  cursor:pointer;
border: none;
outline:none;
padding: 0.15rem;
border-radius: 50%;
color: #e41111;
width: 4rem;
height: 4rem;
}
.delete-btn:hover{
  background: #f1e6e6;
}
